h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.current-weather-icon {
  margin: 30px;
}
.current-date {
  display: block;
  text-align: center;
  padding-top: 75px;
}
.weather-app {
  border: 1px solid #5f6368;
  padding: 10px;
  margin-top: 10px;
  max-width: 750px;
}
h4 {
  text-decoration: underline;
  padding-left: 5px;
}

.h5 {
  text-align: right;
}
.githublink {
  text-align: center;
}
.temperature {
  font-size: 20px;
}

.celsius-link {
  color: black;
}
.fahrenheit-link {
  color: black;
}
.weather-forecast {
  text-align: center;
}
