h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.current-weather-icon {
  margin: 30px;
}
.current-date {
  display: block;
  text-align: left;
  padding-top: 60px;
}
.weather-app {
  border: 1px solid #5f6368;
  padding: 10px;
  margin-top: 10px;
  max-width: 700px;
}
h4 {
  text-decoration: underline;
}
.githublink {
  text-align: center;
}
